//<МИКСИНЫ>
@mixin anim($time, $delay) {
	transition: all $time ease $delay;
}
@mixin anim_cubic($time, $delay) {
	transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
	transform: rotate($deg);
}
@mixin scale($num) {
	transform: scale($num);
}
@mixin scew($num) {
	transform: scewX($num);
}
@mixin cnt($h) {
	display: flex;
	flex-direction: column;
	height: $h;
	text-align: center;
	align-items: stretch;
	justify-content: center;
}
@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}
//</МИКСИНЫ>

//<ШРИФТЫ>
//<Подключаем шрифты>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
//</Подключаем шрифты>
//<Шрифт по умолчанию>
$fontfamily: "Open Sans";
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<Переменные>
$minwidth: 320px;
$mw: 1237;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$md5: 345;
//</Переменные>

//<ОБНУЛЕНИЕ>
@import "../../css/reset";
//</ОБНУЛЕНИЕ>

//<ОБОЛОЧКА>
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 825px;
		padding: 0px 10px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 0 10px;
	}
	@media (max-width: $md4 + px) {
		width: 100%;
		min-width: 100%;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ДОП ФАЙЛОВ>
@import "header";
@import "footer";
@import "forms";
//</ПОДКЛЮЧЕНИЕ ДОП ФАЙЛОВ>

//<ОБЩИЕ СВОЙСТВА>
.title {
}
.new-block {
}
//</ОБЩИЕ СВОЙСТВА>

//<АНИМАЦИИ>

//</АНИМАЦИИ>

//<CSS-свойства>
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	>div{
		margin: 10px 0px;
	}
}
.weather {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 70vw;
		max-width: 750px;
		height: 40vh;
		border-radius: 75px;
		padding: 35px 40px;
		@media (max-width: $md3 + px){
			padding: 0px 0px 0px 0px;
			justify-content: center;
			align-items: center;
		}

		background: rgb(85, 172, 108);
		color: #fff;

		font-family: 'Arial';
		letter-spacing: 1.5px;
		font-size: calc(24px + 24 * (100vw / 750));

		&__header {
			display: flex;
			justify-content: space-between;
			@media (max-width: $md3 + px){
				flex-direction: column;
			}
		}

		&__main {
			display: flex;
			flex-direction: column;
			@media (max-width: $md3 + px){
				align-items: center;
				margin-bottom: 0px;
			}

			div:not(:last-child){
				margin-bottom: 25px;
			}
		}

		&__city {
			font-weight: 700;
		}

		&__status {
			font-size: 0.6em;
		}

		&__icon {
			display: flex;
			align-self: start;

			@media (max-width: $md3 + px){
				align-self: center;
			}
			img{
				transform: scale(1.65);
			}
		}

		&__temp {
			display: flex;
			font-weight: 700;
		}

		&__feels-like {
			font-size: 0.8em;
		}

}

.exchange-rate {
		display: flex;
		flex-direction: column;
		width: 70vw;
		max-width: 750px;
		height: 40vh;
		border-radius: 75px;
		padding: 0px 75px;

		background: rgb(85, 137, 172);
		color: #fff;

		font-family: 'Arial';
		font-size: 24px;
		letter-spacing: 1.5px;
}
.currency {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex: 1 1 auto;
		line-height: 2;
		&__title {
			
		}

		&__amount {
			width: 100%;
			height: 30px;
			padding: 0px 0px 0px 5px;
			font-size: 24px;
		}
}

.loading{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #000;
	letter-spacing: 0.75px;
	font-size: 24px;
}

//</CSS-свойства>
